<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments/header :: header-css" />
		<link rel="stylesheet" href="../css/main.css" />
	</head>
	<body>
		<div th:replace="fragments/header :: header" />
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4" />
				<div class="col-md-4">
					<div class="panel panel-primary" id="resetPassword">
						<div class="panel-heading">
							<h3 class="panel-title" th:text="#{app.panel.resetPassword}"></h3>
						</div>
						<div class="panel-body">
							<form th:action="@{/user/resetPassword}" method="POST" class="form-signin" th:object="${passwordForm}">
								<div class="form-group" th:classappend="${#fields.hasErrors('currentPassword')} ? has-error : ''">
									<input type="password" data-minlength="6" class="form-control" th:field="*{currentPassword}" th:placeholder="#{user.password.current}"/>
									<p class="text-danger" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></p>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('newPassword')} ? has-error : ''">
									<input type="password" data-minlength="6" class="form-control" th:field="*{newPassword}" th:placeholder="#{user.password.new}"/>
									<p class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirm')} ? has-error : ''">
									<input type="password" class="form-control" id="passwordConfirm" th:field="*{passwordConfirm}"  th:placeholder="#{user.password.confirm}" />
									<p class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></p>						
								</div>

								<button class="btn btn-md btn-primary btn-block" name="Submit" th:text="#{app.button.update}" type="Submit"></button>
							</form>
							
							<br/>
							
							<p th:if="${result}" align="center" class="text-success" th:text="${result}"></p>
							<p th:if="${errorMsg}" align="center" class="text-danger" th:text="${errorMsg}"></p>
							
						</div>
					</div>
				</div>
				<div class="col-md-4" />
			</div>
		</div>
		<!-- /.container -->
		<div th:replace="fragments/footer :: footer" />
	</body>
</html>